.card {
  position: relative;
  cursor: pointer;
  transition: all 0.2s ease;

  &:hover {
    transform: scale(1.03);
  }

  img {
    width: 100%;
    display: block;
    border-radius: 6px;
  }
}

.card .front {
  /* Modificar aqui para pruebas */
  /*   transform: rotateY(90deg);
  transition: all ease-in 0.2s;
  position: absolute; */
}
.flipped .front {
  transform: rotateY(0deg);
  transition-delay: 0.2s;
}

.card .back {
  transition: all ease-in 0.2s;
  transition-delay: 0.2s;
  cursor: pointer;
}
.flipped .back {
  transform: rotateY(90deg);
  transition-delay: 0s;
}
